.row
  %h1 Welcome#index
  %p 123Find me in app/views/welcome/index.html.erb

  %a.button{} Тест

  .row.small-up-1.medium-up-2.large-up-4
    .column
      = image_tag "http://lorempixel.com/400/200/"
    .column
      = image_tag "http://lorempixel.com/400/200/"
    .column
      = image_tag "http://lorempixel.com/400/200/"
    .column
      = image_tag "http://lorempixel.com/400/200/"

= svg_icon 'default'