.icon-svg
  width: 100%
  height: 100%

.icon
  display: inline-block
  width: $icon-width
  height: $icon-height
  vertical-align: middle
  fill: $icon-fill
  stroke: none
  line-height: 0

@for $i from 1 through 6
  .icon-#{$i}x
    width: $vertical-gutter * $i
    height: $vertical-gutter * $i

